<div class="dropdwn">
<nav >

    <ul>
      <img class="logo" src="\assets\logoShop.png" title="logo" routerLink="/products">
      <li><a href="#" routerLink="/products">All products</a></li>
      <li><a href="">Category<i class="fas fa-caret-down"></i> </a>
        <ul>
          <li><a href="#" routerLink="/categories/Men/products">Male</a></li>
          <li><a href="#" routerLink="/categories/Women/products">Female</a></li>
          <li><a href="#" routerLink="/categories/Kid/products">Kids</a></li>
        </ul>
      </li>
      <li><a id="loginReg" routerLink='/login'>Login</a><span id="slash"> &#47; </span><a id="loginReg" routerLink="/registration">Registration</a></li>
      <li><a routerLink="/cart">Cart</a></li>
    </ul>

  </nav>
  <div>

  </div>
</div>
